<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>eventmana.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>servletGet</servlet-name>
    <servlet-class>eventmana.server.Servlet</servlet-class>
  </servlet>
  
  
  <servlet>
    <servlet-name>MainPageJSP</servlet-name>
    <jsp-file>/WEB-INF/main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPageJSP</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <servlet-name>LoginJSP</servlet-name>
    <jsp-file>/WEB-INF/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginJSP</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
 
      <servlet>
    <servlet-name>MyEvent</servlet-name>
    <jsp-file>/WEB-INF/MyEvent.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyEvent</servlet-name>
    <url-pattern>/MyEvent</url-pattern>
  </servlet-mapping>
  
  <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>eventmana.server.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping> 
    
     <servlet>
    <servlet-name>exampleServlet</servlet-name>
    <servlet-class>example.servlet.ExampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exampleServlet</servlet-name>
    <url-pattern>/showServlet</url-pattern>
  </servlet-mapping>
  
 	<servlet-mapping>
		<servlet-name>MovingConcentrationGame</servlet-name>
		<url-pattern>/concentration.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MovingConcentrationGame</servlet-name>
		<jsp-file>/WEB-INF/movingMemory.jsp</jsp-file>
	</servlet>
	
	<servlet>
		<servlet-name>SaveTheEvent</servlet-name>
		<servlet-class>gaming.SaveTheEvent</servlet-class>
	</servlet>
	  <servlet-mapping>
    <servlet-name>SaveTheEvent</servlet-name>
    <url-pattern>/SaveTheEvent</url-pattern>
  </servlet-mapping>
  
	  <servlet>
		<servlet-name>eventindex</servlet-name>
		<jsp-file>/WEB-INF/eventindex.jsp</jsp-file>
	</servlet>
	  <servlet-mapping>
    <servlet-name>eventindex</servlet-name>
    <url-pattern>/eventindex</url-pattern>
  </servlet-mapping>
  
	    <servlet>
		<servlet-name>editEvent</servlet-name>
		<servlet-class>gaming.editEvent</servlet-class>
	</servlet>
	  <servlet-mapping>
    <servlet-name>editEvent</servlet-name>
    <url-pattern>/editEvent</url-pattern>
  </servlet-mapping>
  
	  <servlet>
		<servlet-name>eventinfo</servlet-name>
		<servlet-class>gaming.eventinfo</servlet-class>
	</servlet>
	  <servlet-mapping>
    <servlet-name>eventinfo</servlet-name>
    <url-pattern>/eventinfo</url-pattern>
  </servlet-mapping>
  
   	<servlet-mapping>
		<servlet-name>DisplayScoresServlet</servlet-name>
		<url-pattern>/DisplayScores</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DisplayScoresServlet</servlet-name>
		<jsp-file>/WEB-INF/displayScores.jsp</jsp-file>
	</servlet>
    
    
    <servlet>
        <servlet-name>initClientServlet</servlet-name>
        <servlet-class>eventmana.server.initClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>initClientServlet</servlet-name>
        <url-pattern>/initClientServlet</url-pattern>
    </servlet-mapping> 
    
     <servlet>
        <servlet-name>eventServlet</servlet-name>
        <servlet-class>eventmana.server.eventServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>eventServlet</servlet-name>
        <url-pattern>/eventServlet</url-pattern>
    </servlet-mapping> 
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>LoginJSP</welcome-file>
  </welcome-file-list>

  
  
</web-app>
