.MainDiv
{
	width:100%;
	height :100%;
	display:inline;
	right:0;
	direction:rtl;
}
#gameSettings
{
	background-color: WhiteSmoke;
	height: 2em;
	border: 1px solid black;
	
	margin: 0 auto;
	display:block;
	
}
canvas
{
	margin: 0 auto;
	display:block;
}
#formDiv
{
	margin: 0 auto;
	display:none;
	width:250px;
	
}